<!doctype html>
<html lang="pt-br"> <!-- Define o idioma da página como português do Brasil -->
  <head>
    <meta charset="utf-8"> <!-- Define a codificação de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Configura a viewport para responsividade em dispositivos móveis -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"> <!-- Importa o arquivo CSS do Bootstrap para estilos padrão -->
    <link rel="stylesheet" href="/css/style.css"> <!-- Importa o arquivo CSS personalizado para estilos adicionais -->
    <script src="/js/bootstrap.min.js"></script> <!-- Importa o JavaScript do Bootstrap local -->
    <title>Yahoo!Respostas</title> <!-- Define o título da página que aparece na aba do navegador -->
  </head>
