<nav class="margin-top navbar navbar-expand-lg bg-body-tertiary" style="margin-bottom: 10vh;">
    <!-- Barra de navegação principal com espaçamento superior e inferior -->
    <div class="container-md">
        <!-- Container responsivo com largura média -->
        <a class="navbar-brand" href="/">
            <!-- Link para a página inicial com logo do Yahoo! Respostas -->
            <img src="/img/yahoo_answers_pt_desktop_2x.png" alt="Yahoo!Respostas" style="width: 20vh;">
            <!-- Imagem do logo com largura definida em viewport height -->
        </a>
        <a class="btn btn-primary" style="text-justify: center;" href="/question">
            <!-- Botão estilizado que redireciona para a página de criação de perguntas -->
            + Perguntar
        </a>
    </div>
</nav>
